@use "../../../../../../../../../../styles/"as *;

.ReplyItemCell {
  height: 100%;
  @include flex-all-center;
  @include user-select-none;

  p {
    width: 100%;
    text-align: center;
  }

  &.company {
    width: 22%;
  }

  &.position {
    width: 22%;
  }

  &.salary {
    width: 12%;
  }

  &.status {
    width: 22%;
  }

  &.note {
    width: 15%;

    p {
      overflow: hidden;
      @include ellipsize;
    }
  }
}