@use "../../../../styles/"as *;

.RepliesWrapper {
  width: 70%;
  height: 100%;
  @include flex-column-line-center-vertical-top;
  position: relative;
  border: $replies-wrapper-border-radius;
  box-shadow: 0 0 5px $main-theme-color;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;

  @include media-mobile-big-maximum-767 {
    width: 95%;
  }
}