@use "../../../../../../../../../styles/"as *;

.CloseModalWindowButton {
  @include flex-all-center;
  @include hover-cursor-pointer;

  & {
    @include user-select-none;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  h2 {
    color: $negative-color;
  }
}