@use "../../../../../../../../../../styles/"as *;

.ReplyDataInput {
  width: 100%;
  @include flex-column-all-center;
  gap: 5px;

  span {
    @include user-select-none;
    font-size: 14px;
  }

  input,
  textarea,
  select {
    @include styled-input;
  }

  input,
  select {
    height: 40px;
  }

  textarea {
    height: 60px;
    @include scroll;
  }

  select {
    @include hover-cursor-pointer;

    & {
      text-align-last: center;
      text-align: center;
    }
  }
}