@use "../../../../../../../../../../styles/"as *;

.ValidationInfo {
  width: 100%;
  min-height: 30px;
  @include flex-all-center;

  P {
    width: 100%;
    @include user-select-none;
    text-align: center;
    color: $negative-color;
  }
}