@use "../../../../../../../../../../styles/"as *;

.DeleteReplyButton {
  @include flex-all-center;
  position: absolute;
  right: 0;
  @include hover-cursor-pointer;
  transition: background-color 0.3s linear;

  @include hover {
    background-color: rgba($color: $negative-color, $alpha: 0.2);
  }

  & {
    padding-inline: 10px;
    border-top-left-radius: 6px;
    color: $negative-color;
    border: 1px solid $negative-color;
    border-bottom-left-radius: 6px;
    font-size: 14px;
  }

  &.disabled {
    color: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    opacity: 0.5;
  }
}