@use "../../../../../../../../../../styles/"as *;

.DeleteReplyButton {
  @include flex-all-center;
  @include hover-cursor-pointer;
  @include user-select-none;
  position: absolute;
  right: 0;

  & {
    padding: 5px 10px;
    border-top-left-radius: 6px;
    color: $text-color;
    border: 1px solid $negative-color;
    border-bottom-left-radius: 6px;
    background-color: rgba($color: $negative-color, $alpha: 0.2);

    font-size: 14px;
    transition: background-color 0.3s linear;
  }

  @include hover {
    background-color: rgba($color: $negative-color, $alpha: 0.9);
  }

  &.disabled {
    color: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    background-color: transparent;
    opacity: 0.2;
  }
}